{
  "parserOptions": {
    "sourceType": "module"
},
  "env": {
    "node": true
  },
  "rules": {
    "no-unused-vars": 2,
    "no-undef": 2
  },
  "plugins": [
    "security"
  ],
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:security/recommended"
  ],
  "globals": {
    "log": true,
    "require": true,
    "secret": true
  }
}
